<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-tac-toe game - Home</title>
</head>
<body>
   <h1>Home page</h1>
   <div>Hello, {{current_user.username}}</div>
   <p></p>
   <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}

   <div>Your statistics
    <a href="{{url_for('myapp.statistics')}}" >Click!</a>
   </div>

   <div>Your points: {{current_user.points}} </div>
   {% if current_user.added_points == False %}

   <button><a href="{{url_for('myapp.add_points')}}">Add 10 more points!</a></button>

   {% elif current_user.added_points == True and current_user.points > 4 %}

   <a>You can no longer add any points, but you still can play</a>

   <div>
    <button>

     <a href="{{url_for('myapp.game')}}" >Play game! (Costs 3 points)</a>

     </button>
    </div>


   {% else %}

   <a>You can no longer add any points and you can't play. You've lost! </a>

    {% endif %}

</body>
</html>
