<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-tac-toe game</title>
</head>
<body>
    <h3>Stats</h3>
    <div>User: {{current_user.username}}</div>

    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}
    </div>


{% for game in stats %}
<div>
    <a>Game id: </a>{{ game.game_id }}
    <a>Time of game: </a>
    {% if game.game.date_ended == None %}
    <a></a>
    {% else %}
    {{(game.game.date_ended-game.game.date_started).to_seconds()}}
    {% endif %}
    <a>Game status: </a>{{ game.status }}
    <a>Opponent id: </a>
    {% if game.game.player_1_id == current_user.id %}
    {{ game.game.player_2_id }}
    {% else %}
    {{ game.game.player_1_id}}
    {% endif %}
</div>

{% endfor %}


</body>
</html>
