<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic-tac-toe game</title>
</head>
<body>
    <h3>Type your username</h3> \

    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}

    <form method="post">
        {{ form.csrf_token }}
        <label for="username">Username</label>
        <br>
        <input type="text" name="username"
               placeholder="Username"
               value="{{ request.form['username'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
